for project, slug in public.portfolio._data
	if project.videos && current.path[1] === slug
		each video, filename in project.videos
			section(class="#{ video.class!=undefined?video.class + ' media':'media' }")
				video.media-video(controls="controls", poster="/videos/#{ slug }/#{ filename }.png", width="#{ video.width!=undefined?video.width:'' }", height="#{ video.height!=undefined?video.height:'' }")
					source(src="/videos/#{ slug }/#{ filename }.mp4", type="video/mp4")
					source(src="/	videos/#{ slug }/#{ filename }.webm", type="video/webm")
					source(src="/videos/#{ slug }/#{ filename }.ogv", type="video/ogv")
	if project.images && current.path[1] === slug
		ul.media-list
			each image, filename in project.images
				unless filename === project.banner
					li.media-list-item
						figure(href="/portfolio/#{ slug }", class="#{ image.class!=undefined?image.class + ' media':'media' }")
							img.media-image(src="/images/#{ slug }/large/#{ filename }", alt="#{ image.alt!=undefined?image.alt:'' }", title="#{ image.title!=false||undefined?image.title:'' }")
							if image.caption
								figcaption.media-caption
									if image.title
										strong.media-caption-header #{ image.title }
									p #{ image.caption }